@import "./variables";
@import "./fonts";
@import "./reset";
@import "./typo";


* {
    box-sizing: border-box;
}
body {
    font-family: $primary-text;
    font-size: $default-font-size;
    color: $color-black-default;
    margin: 0 auto;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;

    @media screen and (max-width:$tablet){
        max-width:700px;
    }
    @media screen and (max-width:$mobile){
        max-width:300px;
    }
}

