$primary-text:        'Lato', sans-serif;
$primary-title:       'Red Hat Display', sans-serif;

$color-white:          #FFFFFF;
$color-grey-light:     #F4F4F4;
$color-grey-dark:      #565656;
$color-black-default:  #000000;

$desktop:              1440px;
$tablet:               768px;
$mobile:               320px;

$default-font-size:    19px;

