.img {
    max-width: 1170px;
    height: 500px;
    
    @media screen and (max-width:$tablet){
        max-width: 700px;
        height: 380px;
    }
    @media screen and (max-width:$mobile){
        max-width: 300px;
        height: 300px;
    }
}