.design {
    &__image {
        background-image: url("/image/lantern_desktop.jpg");
        margin-top: 50px;

        @media screen and (max-width:$tablet){
            background-image: url('/image/lantern_tablet.jpg');
        }
        @media screen and (max-width:$mobile){
            background-image: url('/image/lantern_mobile.jpg');
            margin-top: 40px;
        }
    }
    &__text {
        &-pretitle {
            margin-top: 20px;
        }
    }
}